.mbr--menubaritem {
    float: left;
    align-items: center;
    height: 100%;
}

.mbr--header {
    height: 100%;
    display: flex;
    align-items: inherit;                    
}

.mbr--header:hover {
    background-color: var(--mbr-menubar-hover-color);
}