:root {
    --mbr-menubar-color: black;
    --mbr-menubar-background-color: white;
    --mbr-menubar-submenu-background-color: white;
    --mbr-menubar-hover-color: lightblue;
    --mbr-menubar-border-color: lightgray;
    --mbr-menubar-shadow-color: rgba(0, 0, 0, 0.2);
    --mbr-menubar-selected-color: white;
    --mbr-menubar-selected-background-color: blue;
    --mbr-menubar-separator-color: lightgray;
}

.mbr-menubar-container {
    color: var(--mbr-menubar-color);
    background-color: var(--mbr-menubar-background-color);
}

.mbr--menubar  {
    user-select: none;
    cursor: default;
    outline: none;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.mbr--context-menu-control {
    float: left;
    position: fixed;
}