body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#absolute {
    position: absolute;
    background-color: burlywood;
}